{% comment %}
  {% form 'new_comment', article %}

  {{ form.errors | default_errors }}

  <div class="leave-comment">
    <h4 class="blog-section-title">{{ 'blogs.comments.title' | t }}</h4>
    <div class="row">
      <div class="col-md-6">
        <input type="text" class="{% if form.errors contains 'author' %}error{% endif %}" name="comment[author]" id="commentAuthor" value="{{ form.author }}" placeholder="{{ 'blogs.comments.name' | t }}">
      </div>
      <div class="col-md-6">
        <input type="text" class="{% if form.errors contains 'email' %}error{% endif %}" name="comment[email]" id="commentEmail" value="{{ form.email }}" placeholder="{{ 'blogs.comments.email' | t }}">
      </div>
      <div class="col-md-12">
        <textarea class="custom-textarea" name="comment[body]" id="commentBody"  placeholder="{{ 'blogs.comments.message' | t }}">{{ form.body }}</textarea>
      </div>
    </div>

    {% if blog.moderated? %}
    <p>{{ 'blogs.comments.moderated' | t }}</p>
    {% endif %}

    <button type="submit">{{ 'blogs.comments.post' | t }}</button>
  </div>
  {% endform %}
{% endcomment %}

{% form 'new_comment', article %}
  {{ form.errors | default_errors }}

  <div class="blog-reply-wrapper mt-50">
    <h4 class="blog-dec-title">{{ 'blogs.comments.title' | t }}</h4>
    <div class="blog-form">
      <div class="row">
        <div class="col-md-6">
          <div class="leave-form">
            <input
              type="text"
              class="{% if form.errors contains 'author' %}error{% endif %}"
              name="comment[author]"
              id="commentAuthor"
              value="{{ form.author }}"
              placeholder="{{ 'blogs.comments.name' | t }}"
            >
          </div>
        </div>
        <div class="col-md-6">
          <div class="leave-form">
            <input
              type="text"
              class="{% if form.errors contains 'email' %}error{% endif %}"
              name="comment[email]"
              id="commentEmail"
              value="{{ form.email }}"
              placeholder="{{ 'blogs.comments.email' | t }}"
            >
          </div>
        </div>
        <div class="col-md-12">
          <div class="text-leave">
            <textarea
              class="custom-textarea"
              name="comment[body]"
              id="commentBody"
              placeholder="{{ 'blogs.comments.message' | t }}"
            >{{ form.body }}</textarea>

            {% if blog.moderated? %}
              <p>{{ 'blogs.comments.moderated' | t }}</p>
            {% endif %}

            <input type="submit" value="{{ 'blogs.comments.post' | t }}">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endform %}
