
<div class="contact-info-wrap">
<div class="container">
  <div class="row">
  <div class="single-contact-info single-contact-info1 col-lg-4">
<!--     <div class="single-contact1">
    {% if section.settings.Contact_number != '' %}
    <div class="contact-icon">
      <i class="fa fa-{{ section.settings.Contact_icon }}"></i>
    </div>
    {% endif %}
    {% if section.settings.Contact_number != '' or section.settings.Contact_number_2 != '' %}
    <div class="contact-info-dec">
      <p>{{ section.settings.Contact_number }}</p>
      <p>{{ section.settings.Contact_number_2 }}</p> 
    </div>
    </div> -->
  {% endif %}
    <div class="single-contact1">
    {% if section.settings.email_icon != '' %}
    <div class="contact-icon">
      <a href="mailto:hello@yesseskincareaustralia.com"><i class="fa fa-{{ section.settings.email_icon }}"></i></a>
    </div>
    {% endif %}

     
      
    {% if section.settings.email_number != '' or section.settings.email_number_2 != '' %}
    <div class="contact-info-dec">
      <p>{{ section.settings.email_number }}</p>
<!--       <p>{{ section.settings.email_number_2 }}</p> -->
    </div>


      
    </div>
    {% endif %}
  <div class="single-contact1">
     <div class="contact-icon">
      <i class="fa fa-{{ section.settings.Contact_icon }}"></i>
    </div>
<p>{{ section.settings.Contact_number }}</p>
    </div> 
    
    <div class="single-contact1">
     <div class="contact-icon">
      <i class="fa fa-{{ section.settings.map_icon }}"></i>
    </div>
<p>{{ section.settings.address_1 }}</p>
    </div> 

    
  </div>
<!--   <div class="single-contact-info col-lg-4">
    {% if section.settings.map_icon != '' %}
    <div class="contact-icon">
      <i class="fa fa-{{ section.settings.map_icon }}"></i>
    </div>
    {% endif %}
    {% if section.settings.address_1 != '' or section.settings.address_2 != '' %}
    <div class="contact-info-dec">
      <p>{{ section.settings.address_1 }}</p>
      <p>{{ section.settings.address_2 }}</p>
    </div>
    {% endif %}
  </div> -->

  {% if section.settings.contact_social_enable %}
  <div class="contact-social text-center col-lg-4">
    {% include 'contact-social-icon' %}
  </div>
  {% endif %}
</div>
</div>
</div>