{% if section.settings.social_icon_1_name != blank %}
  <li>
    <a href="{{ section.settings.social_icon_1_url }}" class="facebook">
      <i class="fa fa-{{ section.settings.social_icon_1_name }}"></i>
    </a>
  </li>
{% endif %}
{% if section.settings.social_icon_2_name != blank %}
  <li>
    <a href="{{ section.settings.social_icon_2_url }}" class="dribbble">
      <i class="fa fa-{{ section.settings.social_icon_2_name }}"></i>
    </a>
  </li>
{% endif %}
{% if section.settings.social_icon_3_name != blank %}
  <li>
    <a href="{{ section.settings.social_icon_3_url }}" class="pinterest">
      <i class="fa fa-{{ section.settings.social_icon_3_name }}"></i>
    </a>
  </li>
{% endif %}
{% if section.settings.social_icon_4_name != blank %}
  <li>
    <a href="{{ section.settings.social_icon_4_url }}" class="twitter">
      <i class="fa fa-{{ section.settings.social_icon_4_name }}"></i>
    </a>
  </li>
{% endif %}
{% if section.settings.social_icon_5_name != blank %}
  <li>
    <a href="{{ section.settings.social_icon_5_url }}" class="linkedin">
      <i class="fa fa-{{ section.settings.social_icon_5_name }}"></i>
    </a>
  </li>
{% endif %}
