{%- assign on_sale = false -%}
{%- if product.compare_at_price > product.price -%}
  {%- assign on_sale = true -%}
{%- endif -%}

{%- assign sold_out = true -%}
{%- if product.available -%}
  {%- assign sold_out = false -%}
{%- endif -%}

{%- assign variant = product.selected_or_first_available_variant -%}

{%- if product.available -%}
  {%- assign func = 'Shopify.addItem(' | append: variant.id | append: ', 1)' -%}
{%- endif -%}

<div class="product-wrap {{ variant.id }}">
  <div class="product-img">
    <a href="{{ product.url | within: collection }}">
      {% if product.images.size > 1 %}
        <img
          class="default-img popup_cart_image"
          src="{{ product.featured_image.src | img_url: 'large' }}"
          alt="{{ product.featured_image.alt | escape }}"
        >
        {% for image in product.images limit: 1 offset: 1 %}
          <img
            class="hover-img popup_cart_image"
            src="{{ image.src | img_url : 'large' }}"
            alt="{{ product.image.alt | escape }}"
          >
        {% endfor %}
      {% else %}
        <img
          class="popup_cart_image"
          src="{{ product.featured_image.src | img_url: 'large' }}"
          alt="{{ product.featured_image.alt | escape }}"
        >
      {% endif %}
    </a>
    {%- include 'product-badge' -%}

    {%- unless product.description contains '[affiliate_link]' -%}
      <div class="product-action">
        <div class="pro-same-action pro-wishlist">
          {% include 'wishlist-button-3' %}
        </div>
        <div class="pro-same-action pro-cart">
          {% include 'action-button' %}
        </div>

        {%- if settings.product_quickview_enalbe -%}
          <div class="pro-same-action pro-quickview">
            <a
              title="Quick View"
              class="action-plus"
              title="Quick View"
              data-toggle="modal"
              data-target="#quickViewModal"
              href="javascript:void(0);"
              onclick="quiqview('{{ product.handle | handleize }}')"
              ><i class="pe-7s-look"></i>
            </a>
          </div>
        {%- endif -%}
      </div>
    {%- endunless -%}

    {% if product.description contains '[countdown]' %}
      {% assign count_down_first = product.description | split: '[/countdown]' | first %}
      {% assign count_down_final = count_down_first | split: '[countdown]' | last %}
      <div class="coundown-main" data-countdown="{{ count_down_final }}"></div>
    {% endif %}
  </div>

  <div class="product-content text-center">
    <h3 class="popup_cart_title">
      <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
    </h3>
    {% comment %}Start automatically added Judge.me widget{% endcomment %}
    {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', concierge_install: true, product: product %}
    {% comment %}End automatically added Judge.me widget{% endcomment %}
    {% comment %}
      <div class="product-rating">
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      </div>
    {% endcomment %}
    <div class="product-price">
      <span>{{ product.variants.first.price | money }}</span>
      {% if product.variants.first.compare_at_price > product.variants.first.price %}
        <span class="old">{{ product.variants.first.compare_at_price | money }}</span>
      {% endif %}
    </div>
  </div>
</div>
