{% if section.settings.brand_area_enable %}
  <div class="brand-logo-area" id="section-{{ section.id }}">
    <div class="{% if section.settings.container_style == 'style_1' %}container {% else %} container-fluid{% endif %}">
      <div class="brand-logo-active owl-carousel">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'brand' %}
              <div class="single-brand-logo">
                <img
                  src="{% if block.settings.brand_img %}{{ block.settings.brand_img | img_url: 'master' }}{% else %}http:\/\/via.placeholder.com\/100x100{% endif %}"
                  alt="{{ block.settings.brand_img.alt }}"
                >
              </div>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}

{%- include 'section-style' -%}

<script>

  /* Brand logo active */
  $('#section-{{ section.id }} .brand-logo-active').owlCarousel({
      loop: true,
    {% if settings.rtl_enable %} rtl:true, {% endif %}
      nav: false,
      autoplay: false,
      autoplayTimeout: 5000,
      item: {{ section.settings.brand_cursole }},
      margin: 30,
      responsive: {
          0: {
              items: 2
          },
          576: {
              items: 3
          },
          768: {
              items: 4
          },
          992: {
              items: {{ section.settings.brand_cursole }}
          },
          1000: {
              items: {{ section.settings.brand_cursole }}
          }
      }
  })
</script>

{% schema %}
{
  "name": "Brand Area",
  "settings": [
    {
      "type": "header",
      "content": "Container Style"
    },
    {
      "type": "radio",
      "id": "container_style",
      "label": "Container Style",
      "options": [
        {
          "value": "style_1",
          "label": "Container"
        },
        {
          "value": "style_2",
          "label": "Container Fulied"
        }
      ],

      "default": "style_1"
    },
    {
      "type": "checkbox",
      "id": "brand_area_enable",
      "label": "Brand Area Enable",
      "default": true
    },
    {
      "type": "header",
      "content": "Brand"
    },
    {
      "type": "select",
      "id": "brand_cursole",
      "label": "Brand",
      "options": [
        {
          "value": "1",
          "label": "1 brand"
        },
        {
          "value": "2",
          "label": "2 brand"
        },
        {
          "value": "3",
          "label": "3 brand"
        },
        {
          "value": "4",
          "label": "4 brand"
        },
        {
          "value": "5",
          "label": "5 brand"
        },
        {
          "value": "6",
          "label": "6 brand"
        },
        {
          "value": "7",
          "label": "7 brand"
        },
        {
          "value": "8",
          "label": "8 brand"
        },
        {
          "value": "9",
          "label": "9 brand"
        },
        {
          "value": "10",
          "label": "10 brand"
        },
        {
          "value": "11",
          "label": "11 brand"
        },
        {
          "value": "12",
          "label": "12 brand"
        }
      ],

      "default": "5"
    }
  ],
  "blocks": [
    {
      "type": "brand",
      "name": "brand",
      "settings": [
        {
          "type": "image_picker",
          "id": "brand_img",
          "label": "Image",
          "info": "Recommended Size: 100 x 100px"
        }
      ]
    },
    {
      "type": "section_padding",
      "name": "Section Padding",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Large/Desktop Device"
        },
        {
          "type": "range",
          "id": "section_padding_top",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_padding_bottom",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Bottom",
          "unit": "px",
          "default": 100
        },
        {
          "type": "header",
          "content": "Tablet Device"
        },
        {
          "type": "range",
          "id": "section_padding_top_md",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_padding_bottom_md",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Bottom",
          "unit": "px",
          "default": 80
        },
        {
          "type": "header",
          "content": "Mobile Device"
        },
        {
          "type": "range",
          "id": "section_padding_top_xs",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_padding_bottom_xs",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Bottom",
          "unit": "px",
          "default": 60
        }
      ]
    },
    {
      "type": "section_margin",
      "name": "Section Margin",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Large/Desktop Device"
        },
        {
          "type": "range",
          "id": "section_margin_top",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_margin_bottom",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Bottom",
          "unit": "px",
          "default": 0
        },
        {
          "type": "header",
          "content": "Tablet Device"
        },
        {
          "type": "range",
          "id": "section_margin_top_md",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_margin_bottom_md",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Bottom",
          "unit": "px",
          "default": 0
        },
        {
          "type": "header",
          "content": "Mobile Device"
        },
        {
          "type": "range",
          "id": "section_margin_top_xs",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_margin_bottom_xs",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Bottom",
          "unit": "px",
          "default": 0
        }
      ]
    },
    {
      "type": "section_background",
      "name": "Section Background",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "section_bg_image",
          "label": "BG Image"
        },
        {
          "type": "color",
          "id": "section_bg_color",
          "label": "BG Color",
          "default": "#ffffff"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Brand Area",
      "category": "5. about",
      "blocks": [
        {
          "type": "section_padding"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
