<div class="PD-success-ratio">
  <div class="">
    <div class="PD-success-ratio-wrapper">
      <div class="stats-section">
        <div class="stat">
          <div class="stat1_value">
            <h2 data-goal="{{ section.settings.stat1_value }}">{{ section.settings.stat1_value }} </h2> <span class="stat-sign"> + </span>
          </div>
          <div class="stat1_description">
            <p>{{ section.settings.stat1_description }}</p>
          </div>
        </div>
        <div class="stat">
          <div class="stat2_value">
            <h2 data-goal="{{ section.settings.stat2_value }}">{{ section.settings.stat2_value }}</h2>
          </div>
          <div class="stat2_description">
            <p>{{ section.settings.stat2_description }}</p>
          </div>
        </div>
        <div class="stat">
          <div class="stat3_value">
            <span class="stat-sign"> $ </span> <h2 data-goal="{{ section.settings.stat3_value }}">{{ section.settings.stat3_value }}</h2> <span class="stat-sign"> B </span>
          </div>
          <div class="stat3_description">
            <p>{{ section.settings.stat3_description }}</p>
          </div>
        </div>
        <div class="stat">
          <div class="stat4_value">
            <h2 data-goal="{{ section.settings.stat4_value }}">{{ section.settings.stat4_value }}</h2> <span class="stat-sign"> % </span>
          </div>
          <div class="stat4_description">
            <p>{{ section.settings.stat4_description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .PD-success-ratio-wrapper {
    background-color: transparent;
    background-image: linear-gradient(280deg, #F38137 20%, #f2295b 77%);
  }

  .stats-section {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 50px 0;
    max-width: 1140px;
    margin: auto;
  }

  .stat {
    padding: 10px;
    text-align: center;
  }
  .stat4_value {
    display: flex;
}
.stat1_value {
    display: flex;
}
  .stat3_value{
    display: flex;
  }
  .stat h2 {
    color: #ffffff;
    font-size: 69px;
    font-weight: 600;
    line-height: 69px;
    margin: 0;
  }
.stat-sign {
    color: #ffffff;
    font-size: 69px;
    font-weight: 600;
    line-height: 69px;
    margin: 0;
}
  .stat p {
    color: #fff;
    margin: 0;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    line-height: 48px;
  }

  @media only screen and (max-width: 768px) {
    .stats-section {
      flex-direction: column;
      padding: 50px 0;
      align-items: center;
    }
  }
</style>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const stats = document.querySelectorAll('.stat h2');
    const config = {
      root: null,
      rootMargin: '0px',
      threshold: 0.5  // Adjust as needed to trigger the animation when half of the section is visible
    };
    let animated = false; // Flag to run animation only once
    const observer = new IntersectionObserver(function (entries, self) {
      entries.forEach(entry => {
        if (entry.isIntersecting && !animated) {
          stats.forEach(h2 => animateNumbers(h2));
          animated = true; // Set the flag to true after animating numbers
          self.unobserve(entry.target); // Stop observing after animating
        }
      });
    }, config);
    observer.observe(document.querySelector('.stats-section'));
  });
  function animateNumbers(element) {
    const goal = parseInt(element.getAttribute('data-goal'));
    let count = 0;
    let increment = goal / 100;
    function updateCount() {
      count += increment;
      element.innerText = Math.min(Math.floor(count), goal).toLocaleString(); // Ensure we do not exceed the goal
      if (count < goal) {
        requestAnimationFrame(updateCount); // Keep updating the count till we reach the goal
      } else {
        element.innerText = goal.toLocaleString() + (goal.toString().includes('+') ? '+' : ''); // Append '+' if needed
      }
    }
    requestAnimationFrame(updateCount);
  }
</script> 
{% schema %}
{
"name": "Cus Home Counter",
"settings": [
{
"type": "text",
"id": "stat1_value",
"label": "Statistic 1 Value",
"default": "3000+"
},
{
"type": "text",
"id": "stat1_description",
"label": "Statistic 1 Description",
"default": "Satisfied Clients"
},
{
"type": "text",
"id": "stat2_value",
"label": "Statistic 2 Value",
"default": "35"
},
{
"type": "text",
"id": "stat2_description",
"label": "Statistic 2 Description",
"default": "Unique Industries"
},
{
"type": "text",
"id": "stat3_value",
"label": "Statistic 3 Value",
"default": "$12.5B"
},
{
"type": "text",
"id": "stat3_description",
"label": "Statistic 3 Description",
"default": "Sought Collectively"
},
{
"type": "text",
"id": "stat4_value",
"label": "Statistic 4 Value",
"default": "67.8%"
},
{
"type": "text",
"id": "stat4_description",
"label": "Statistic 4 Description"
}
],
"presets": [
{
"name": "Cus Home Counter"
}
]
}
{% endschema %}