<div class="related-product-area" id="section-{{ section.id }}">
  {% for collection in collections %}
    {% unless collection.handle == 'frontpage' %}
      {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}
      <div class="{% if section.settings.container_style == 'style_1' %}container {% else %} container-fluid{% endif %} {% unless forloop.last %}mb-60{% endunless %}">
        <div class="section-title {% if section.settings.section_text_align == 'section_text_left' %}text-left{% elsif section.settings.section_text_align == 'section_text_center' %}text-center{% elsif section.settings.section_text_align == 'section_text_right' %}text-right{% endif %} mb-50">
          <h2>{{ collection_title }}</h2>
          <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}">
            {{- section.settings.more_title }}
            {{ collection_title }} &rsaquo;</a
          >
        </div>
        <div class="related-product-active owl-carousel">
          {% assign products_limit = section.settings.products_limit_handle %}
          {% for product in collection.products limit: products_limit %}
            {% assign grid_item_width = 'large--one-fifth medium--one-half' %}
            {% include 'product-grid-item-8' %}
          {% endfor %}
        </div>
      </div>
    {% endunless %}
  {% endfor %}
</div>

<div class="cat-des">
  {% assign descriptions = collection.description | split: '<!-- split -->' %}
  {% assign long_desc = descriptions[1] %}
  {{ long_desc }}
</div>

{%- include 'section-style' -%}

<script>


    /* Related product active */
  $('#section-{{ section.id }} .related-product-active').owlCarousel({
      loop: true,
    {% if settings.rtl_enable %} rtl:true, {% endif %}
      nav: false,
      autoplay: false,
      autoplayTimeout: 5000,
      item: {{ section.settings.product_cursole }},
      margin: 30,
      responsive: {
          0: {
              items: 1
          },
          576: {
              items: 2
          },
          768: {
              items: 2
          },
          992: {
              items: 3
          },
          1200: {
              items: {{ section.settings.product_cursole }}
          }
      }
  })
</script>

{% schema %}
{
  "name": "All Collection List",
  "settings": [
    {
      "type": "header",
      "content": "Container Style"
    },
    {
      "type": "radio",
      "id": "container_style",
      "label": "Container Style",
      "options": [
        {
          "value": "style_1",
          "label": "Container"
        },
        {
          "value": "style_2",
          "label": "Container Fulied"
        }
      ],

      "default": "style_1"
    },
    {
      "type": "select",
      "id": "section_text_align",
      "label": "Heading Text Align",
      "options": [
        {
          "label": "Left",
          "value": "section_text_left"
        },
        {
          "label": "Center",
          "value": "section_text_center"
        },
        {
          "label": "Right",
          "value": "section_text_right"
        }
      ],
      "default": "section_text_center"
    },
    {
      "type": "range",
      "id": "products_limit_handle",
      "min": 2,
      "max": 12,
      "step": 1,
      "label": "Product Limit",
      "default": 4,
      "info": "How many products show on per collection"
    },
    {
      "type": "text",
      "id": "more_title",
      "label": "More Title",
      "default": "More"
    },
    {
      "type": "select",
      "id": "product_cursole",
      "label": "Product cursole",
      "options": [
        {
          "value": "1",
          "label": "1 products"
        },
        {
          "value": "2",
          "label": "2 products"
        },
        {
          "value": "3",
          "label": "3 products"
        },
        {
          "value": "4",
          "label": "4 products"
        },
        {
          "value": "5",
          "label": "5 products"
        },
        {
          "value": "6",
          "label": "6 products"
        },
        {
          "value": "7",
          "label": "7 products"
        },
        {
          "value": "8",
          "label": "8 products"
        },
        {
          "value": "9",
          "label": "9 products"
        },
        {
          "value": "10",
          "label": "10 products"
        },
        {
          "value": "11",
          "label": "11 products"
        },
        {
          "value": "12",
          "label": "12 products"
        }
      ],

      "default": "4"
    }
  ],
  "blocks": [
    {
      "type": "section_padding",
      "name": "Section Padding",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Large/Desktop Device"
        },
        {
          "type": "range",
          "id": "section_padding_top",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_padding_bottom",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Bottom",
          "unit": "px",
          "default": 100
        },
        {
          "type": "header",
          "content": "Tablet Device"
        },
        {
          "type": "range",
          "id": "section_padding_top_md",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_padding_bottom_md",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Bottom",
          "unit": "px",
          "default": 80
        },
        {
          "type": "header",
          "content": "Mobile Device"
        },
        {
          "type": "range",
          "id": "section_padding_top_xs",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_padding_bottom_xs",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Bottom",
          "unit": "px",
          "default": 60
        }
      ]
    },
    {
      "type": "section_margin",
      "name": "Section Margin",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Large/Desktop Device"
        },
        {
          "type": "range",
          "id": "section_margin_top",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_margin_bottom",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Bottom",
          "unit": "px",
          "default": 0
        },
        {
          "type": "header",
          "content": "Tablet Device"
        },
        {
          "type": "range",
          "id": "section_margin_top_md",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_margin_bottom_md",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Bottom",
          "unit": "px",
          "default": 0
        },
        {
          "type": "header",
          "content": "Mobile Device"
        },
        {
          "type": "range",
          "id": "section_margin_top_xs",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_margin_bottom_xs",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Bottom",
          "unit": "px",
          "default": 0
        }
      ]
    },
    {
      "type": "section_background",
      "name": "Section Background",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "section_bg_image",
          "label": "BG Image"
        },
        {
          "type": "color",
          "id": "section_bg_color",
          "label": "BG Color",
          "default": "#ffffff"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
