
{%- assign on_sale = false -%}
{%- if product.compare_at_price > product.price -%}
{%- assign on_sale = true -%}
{%- endif -%}

{%- assign sold_out = true -%}
{%- if product.available -%}
{%- assign sold_out = false -%}
{%- endif -%}

{%- assign current_variant = product.selected_or_first_available_variant -%}

<div class="shop-area" id="section-{{ section.id }}">
  <div class="{% if section.settings.container_style == 'style_1' %}container {% else %} container-fluid{% endif %}">
    <div class="row {% if section.settings.content_handle == 'content_in_left' %}flex-row-reverse{% endif %}">

      {%- if section.settings.product_style == 'product_default' -%}
      <div class="col-lg-6 col-md-6 col-12">
        <div class="product-details">
          <div class="product-details-img">


            <div class="tab-pane large-img-style">    
        <!----->
<div class="product-gallery">
  <div class="uyhioyuooyo">
     {%- if product.images.size > 1 -%}
            <div class="shop-details-tab"> 
              <div id="ProductThumbs" class="slider-for">
                {% for image in product.images limit: 10 %}
                <a class="product-single__thumbnail image-popup-vertical-fit " href="{{ image.src | img_url: '1024x1024' }}" 
                   data-image="{{ image.src | img_url: '1024x1024' }}" data-zoom-image="{{ image.src | img_url: '1024x1024' }}" data-image-id="{{ image.id }}">                 
                  <img class="clicked-image "  src="{{ image.src | img_url: 'original' }}" alt="{{ image.alt | escape }}">
                  <div class="img-popup-wrap">
                  <button><i class="pe-7s-expand1"></i></button> 
                  </div>
                   
                </a>
                {% endfor %}
              </div>
            </div>
            {%- endif -%}
  </div>

           {%- include 'product-badge' -%}


              {% if section.settings.product_zoom_enable %}
              <div class="img-popup-wrap">
          
          
              </div>
              {% endif %}


  
  <div class="slider-navi">
     {%- if product.images.size > 1 -%}
         
              <div id="ProductThumbs" class="slider-nav">
                {% for image in product.images limit: 10 %}
                <a class="product-single__thumbnail-new {% if forloop.first and section.settings.product_zoom_enable %}active{% endif %}" href="{{ image.src | img_url: '1024x1024' }}" 
                   data-image="{{ image.src | img_url: '1024x1024' }}" data-zoom-image="{{ image.src | img_url: '1024x1024' }}" data-image-id="{{ image.id }}">
                  <img src="{{ image.src | img_url: 'original' }}" alt="{{ image.alt | escape }}">
                </a>
                {% endfor %}
              </div>
           
            {%- endif -%}
  </div>
</div>

{{ 'https://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css' | stylesheet_tag }} 

        
        
{{ 'https://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js' | script_tag }}
        
<script type="text/javascript">
  $('.slider-for').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: false,
    fade: true,
        adaptiveHeight: true,
        centerMode: true,
    asNavFor: '.slider-nav'
  });
$(document).ready(function(){        
  $('.slider-nav').slick({
    autoplay:true,
    infinite: true,
  slidesToShow: 1,
  slidesToScroll: 1,  
    autoplaySpeed:5000,    
    asNavFor: '.slider-for',
    dots: false,
    centerMode: true,
    focusOnSelect: true,
   responsive: [
      {
        breakpoint: 2500,
        settings: {
          slidesToShow: 3,
 
        }
      },
        {
        breakpoint: 991,
        settings: {
          slidesToShow: 3,
   
        }
      },
      {
        breakpoint: 767,
        settings: {
         slidesToShow: 3,
         
        
        }
      }
    ]
      });
       });



$(document).ready(function(){ 
  $('.product-single__thumbnail-new').click(function(){ 
  $("a.product-single__thumbnail-new").removeAttr('href');    
   });
});

  
$(document).ready(function(){ 
$("#ProductThumbsss").slick({
  autoplay:true,
    infinite: true,
  slidesToShow: 1,
  slidesToScroll: 1,  
    autoplaySpeed:5000,    
    asNavFor: '.slider-for',
    dots: false,
    centerMode: true,
    focusOnSelect: true,
   
  });
    });
  

 
       
</script>
<style>
  button.mfp-close {
    background: #fff;
    color: #8d7535 !important;
    opacity: 1;
    width:20px !important;
    text-align:right;
    height:20px !important;
    font-size:27px;
    border-radius: 50px;
    padding:0px 1px 0 0 !important;   
    right: -9px !important;
    line-height:0 !important;
    border:1px solid #8d7535;
    margin:0 !important;
   margin-top:30px !important;
    cursor:pointer;
}
    .mfp-wrap.mfp-gallery.mfp-close-btn-in.mfp-auto-cursor.mfp-with-zoom.mfp-ready {
    z-index: 9999;
      
      
}   
  .mfp-figure:after{
    box-shadow: inherit;
    background: transparent;
    border: 10px solid #ffffff;
    z-index: 9;
  }
  .mfp-bg.mfp-with-zoom.mfp-ready {
    z-index: 2222;
    background:transparent; 
}
   .mfp-content figcaption {
    display: none;
}
  .mfp-container.mfp-image-holder.mfp-s-ready {
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  .mfp-arrow-right:before {
    
    border-left: 0px solid #3f3f3f00;
    content: "\f105" !important;
    color: #8d7535;
    font-size: 27px;
    font-family: FontAwesome;
}
  .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 0px solid #3f3f3f00;
    content: "\f104" !important;
    color: #8d7535;
    font-size: 27px;
    font-family: FontAwesome;
}
  .mfp-arrow-left:after {
    border-right: 17px solid #fff0;
  }
  .mfp-arrow-right:after {
    border-left: 17px solid #fff0;
  }
.mfp-content img.mfp-img {
    /* border: 10px solid #fff !important;     */ 
    box-shadow: inherit;  
    line-height: 0;
    /* padding: 0 !important; */ 
    /* margin-top: 40px !important; */
    /* margin-bottom: 40px !important; */
    margin: 0 auto; 
}

        
.fancybox-overlay.fancybox-overlay-fixed {
    background: transparent;
}
  .fancybox-lock .fancybox-overlay{
    background:transparent !important;
  }
div.fancybox-overlay {
    z-index: 9999;
}

body a.fancybox-item.fancybox-close {
    background: #fff !important;
    background-size: 100%;
    border: 1px solid #8d7535;
    padding: 13px !important;
    border-radius: 50px;
    width: 20px !important;
    height: 20px !important;
}
a.fancybox-item.fancybox-close:after {
    content: "";
    display: block;
    background-image: url(https://cdn.shopify.com/s/files/1/0555/6148/6492/files/cross.png?v=1687216910);
    height: 12px;
    width: 12px;
    background-size: 100%;
    position: relative;
    top: -5px;
    left: -6px;
}
  
a.fancybox-item.fancybox-close {
    background: #fff0 !important;
}
        
  a.fancybox-nav span {
    visibility: visible;
}
  
a.fancybox-nav.fancybox-next span {
    content: "\f068";
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: 1rem;
    margin-left: 0.5rem;
    vertical-align: middle;
    border-right: 3px solid;
    border-bottom: 3px solid;
    transform: rotate(-45deg);
    transition: transform .2s ease-out;
    color: #8d7535 !important;
    font-family: Source Sans Pro;
    float: right;
    background: none;
}

a.fancybox-nav.fancybox-prev span{
    content: "\f068";
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: 1rem;
    margin-left: 0.5rem;
    vertical-align: middle;
    border-right: 3px solid;
    border-bottom: 3px solid;
    transform: rotate(-230deg);
    transition: transform .2s ease-out;
    color: #8d7535 !important;
    font-family: Source Sans Pro; 
    background: none;
}

        
.product-gallery {
    max-width: 550px;
    margin: 0 auto;
}
.thumb-slide {
    cursor: pointer;
}
  .product-details-img .large-img-style .slider-navi img {
    height: 81px;
    object-fit: cover;
    width: 89%;
}
.slider-navi a.product-single__thumbnail-new.slick-slide.slick-current.slick-active.slick-center img {
    border: 1px solid #8d7535;
}
a.product-single__thumbnail.active {
    border: 0px solid #000!important;
}

 .slider-navi button.slick-next.slick-arrow {
    right: 0;
    position: absolute;
    top: 36%;
    font-size: 0;
}

.slider-navi button.slick-next.slick-arrow:before {
    content: "\f068";
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: 1rem;
    margin-left: 0.5rem;
    vertical-align: middle;
    border-right: 3px solid;
    border-bottom: 3px solid;
    transform: rotate(-45deg);
    transition: transform .2s ease-out;
    color: #8d7535;
    font-family: Source Sans Pro;
    float: right;
}   
       .slider-navi button.slick-prev.slick-arrow:before {
    content: "\f068";
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: 1rem;
    margin-left: 0.5rem;
    vertical-align: middle;
    border-right: 3px solid;
    border-bottom: 3px solid;
    transform: rotate(-230deg);
    transition: transform .2s ease-out;
    color: #8d7535;
    font-family: Source Sans Pro;
}

.slider-navi button.slick-prev.slick-arrow {
    font-size: 0;
    position: absolute;
    z-index: 99;
    top: 36%;
}
   @media only screen and (max-width: 767px) {     
   .mfp-container.mfp-image-holder.mfp-s-ready {
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
   }
       
</style>

        <!---->
{% comment %}
              <div class="" id="ProductPhoto">
                {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}              
                {%- comment -%} "product_variant_image" this Class is needed for Ajax popup cart {%- endcomment -%}
                <img id="ProductPhotoImg" class="{% if section.settings.product_zoom_enable %}product-zoom{% endif %} product_variant_image" 
                     data-image-id="{{ image.id }}" alt="{{ featured_image.alt | escape }}" 
                     data-zoom-image="{{ featured_image | img_url: '1024x1024' }}" 
                     src="{{ featured_image | img_url: '1024x1024' }}">
              </div>

     {% endcomment %}      

            </div>

  {% comment %}  
            {%- if product.images.size > 1 -%}
            <div class="shop-details-tab">
              <div id="ProductThumbs" class="">
                {% for image in product.images limit: 10 %}
                <a class="product-single__thumbnail shop-details-overly {% if forloop.first and section.settings.product_zoom_enable %}active{% endif %}" href="{{ image.src | img_url: '1024x1024' }}" 
                   data-image="{{ image.src | img_url: '1024x1024' }}" data-zoom-image="{{ image.src | img_url: '1024x1024' }}" data-image-id="{{ image.id }}">
                  <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
                </a>
                {% endfor %}
              </div>
            </div>
            {%- endif -%}
  {% endcomment %}  

          </div>
        </div>
      </div>

      {%- elsif section.settings.product_style == 'product_default_2' -%}
      <div class="col-lg-6 col-md-6 col-12">
        <div class="product-details-img product-details-tab">
          {%- if product.images.size > 1 -%}
          <div id="ProductThumbs" class="product-dec-slider-2">

            {% for image in product.images %}
            <a class="product-single__thumbnail shop-details-overly {% if forloop.first and section.settings.product_zoom_enable %}active{% endif %}" href="{{ image.src | img_url: '1024x1024' }}" 
               data-image="{{ image.src | img_url: '1024x1024' }}" data-zoom-image="{{ image.src | img_url: '1024x1024' }}" data-image-id="{{ image.id }}">
              <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
            </a>
            {% endfor %}



          </div>
          {%- endif -%}


          <div class="zoompro-wrap zoompro-2 pl-20">

            <div class="zoompro-border zoompro-span">

              <div class="" id="ProductPhoto">
                {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}              
                {%- comment -%} "product_variant_image" this Class is needed for Ajax popup cart {%- endcomment -%}
                <img id="ProductPhotoImg" class="{% if section.settings.product_zoom_enable %}product-zoom{% endif %} product_variant_image" 
                     data-image-id="{{ image.id }}" alt="{{ featured_image.alt | escape }}" 
                     data-zoom-image="{{ featured_image | img_url: '1024x1024' }}" 
                     src="{{ featured_image | img_url: '1024x1024' }}">
              </div>        

              {%- include 'product-badge' -%}



              {% if product.description contains '[product_video]' %}
              {% assign product_video_first = product.description | split:'[/product_video]' | first %}
              {% assign product_video_final = product_video_first | split:'[product_video]' | last %}
              <div class="product-video">

                <a class="video-popup" href="{{ product_video_final }}">

                  <i class="fa fa-video-camera"></i>

                  View Video
                </a>

              </div>
              {% endif %}



            </div>
          </div>


        </div>
      </div>

      {%- elsif section.settings.product_style == 'product_default_3' -%}
      <div class="col-lg-6 col-md-6 col-12">
        <div class="product-details-img product-details-tab">
          <div class="zoompro-wrap zoompro-2 pr-20">
            <div class="zoompro-border zoompro-span">
              <div class="" id="ProductPhoto">
                {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}              
                {%- comment -%} "product_variant_image" this Class is needed for Ajax popup cart {%- endcomment -%}
                <img id="ProductPhotoImg" class="{% if section.settings.product_zoom_enable %}product-zoom{% endif %} product_variant_image" 
                     data-image-id="{{ image.id }}" alt="{{ featured_image.alt | escape }}" 
                     data-zoom-image="{{ featured_image | img_url: '1024x1024' }}" 
                     src="{{ featured_image | img_url: '1024x1024' }}">
              </div>        

              {%- include 'product-badge' -%}



              {% if product.description contains '[product_video]' %}
              {% assign product_video_first = product.description | split:'[/product_video]' | first %}
              {% assign product_video_final = product_video_first | split:'[product_video]' | last %}
              <div class="product-video">

                <a class="video-popup" href="{{ product_video_final }}">

                  <i class="fa fa-video-camera"></i>

                  View Video
                </a>

              </div>
              {% endif %}
            </div>
          </div>

          {%- if product.images.size > 1 -%}
          <div id="ProductThumbs" class="product-dec-slider-2">

            {% for image in product.images %}
            <a class="product-single__thumbnail shop-details-overly {% if forloop.first and section.settings.product_zoom_enable %}active{% endif %}" href="{{ image.src | img_url: '1024x1024' }}" 
               data-image="{{ image.src | img_url: '1024x1024' }}" data-zoom-image="{{ image.src | img_url: '1024x1024' }}" data-image-id="{{ image.id }}">
              <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
            </a>
            {% endfor %}


          </div>
          {%- endif -%}

        </div>
      </div>

      {%- elsif section.settings.product_style == 'product_gallery' -%}
      <div class="col-lg-6 col-md-6 col-12">
        <div class="product-details-gallery">
          <div class="row">

            {% for image in product.images limit: 4 %}
            {%- if product.images.size > 1 -%}

            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="dec-img-wrap mb-30 zoompro-span">
                {%- comment -%} "product_variant_image" this Class is needed for Ajax popup cart {%- endcomment -%}
                <img class="product_variant_image {% if section.settings.product_zoom_enable %}product-zoom{% endif %}" 
                     alt="{{ image.alt | escape }}"
                     data-image-id="{{ image.id }}" alt="{{ image.src.alt | escape }}" 
                     data-zoom-image="{{ image.src | img_url: '1024x1024' }}" 
                     src="{{ image.src | img_url: '1024x1024' }}">
              </div>
            </div>

            {%- else -%}

            <div class="col-lg-12 col-md-12 col-12">
              <div class="dec-img-wrap mb-30">
                {%- comment -%} "product_variant_image" this Class is needed for Ajax popup cart {%- endcomment -%}
                <img class="product_variant_image {% if section.settings.product_zoom_enable %}product-zoom{% endif %}" 
                     alt="{{ image.alt | escape }}"
                     data-image-id="{{ image.id }}" alt="{{ image.src.alt | escape }}" 
                     data-zoom-image="{{ image.src | img_url: '1024x1024' }}" 
                     src="{{ image.src | img_url: '1024x1024' }}">
              </div>
            </div>

            {%- endif -%}
            {% endfor %}



          </div>
        </div>
      </div>

      {%- elsif section.settings.product_style == 'product_sticky' -%}
      <div class="col-lg-6 col-md-6">
        <div class="product-details-gallery featured-image">


          {% for image in product.images %}
          <div class="dec-img-wrap mb-30">
            {%- comment -%} "product_variant_image" this Class is needed for Ajax popup cart {%- endcomment -%}
            <img class="product_variant_image {% if section.settings.product_zoom_enable %}product-zoom{% endif %}" 
                 alt="{{ image.alt | escape }}"
                 data-image-id="{{ image.id }}" alt="{{ image.src.alt | escape }}" 
                 data-zoom-image="{{ image.src | img_url: '1024x1024' }}" 
                 src="{{ image.src | img_url: '1024x1024' }}">

          </div>

          {% endfor %}

        </div>
      </div>

      {%- elsif section.settings.product_style == 'product_image_slider' -%}
      <div class="col-lg-6 col-md-6 col-12">
        <div class="product-details-slider-active nav-style-1 owl-carousel mb-30">
          {% for image in product.images %}
          <div class="dec-img-wrap">
            {%- comment -%} "product_variant_image" this Class is needed for Ajax popup cart {%- endcomment -%}
            <img class="product_variant_image {% if section.settings.product_zoom_enable %}product-zoom{% endif %}" 
                 alt="{{ image.alt | escape }}"
                 data-image-id="{{ image.id }}" alt="{{ image.src.alt | escape }}" 
                 data-zoom-image="{{ image.src | img_url: '1024x1024' }}" 
                 src="{{ image.src | img_url: '1024x1024' }}">

            {%- include 'product-badge' -%}

          </div>
          {% endfor %}


        </div>
      </div>

      {%- endif -%}

      <div class="col-lg-6 col-md-6 col-12   {% if section.settings.product_style == 'product_sticky' %}sidebar-active sidebar-active-left{% endif %} ">
        {% form 'product', product, id: "AddToCartForm", class: "product-content-inner" %}   
        <div class="product-details-content">
          <h1 id="popup_cart_title">{{ product.title }}</h1>
          {%- if current_variant.sku.size > 0 and section.settings.product_sku_enable -%}
          <div class="product-sku">{{ section.settings.product_sku_title }} <span class="variant-sku">{{ current_variant.sku }}</span></div>
<!--             <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div> -->
          {%- endif -%}
     {%- if section.settings.product_review_enable -%}
       {% comment %}
          <div class="pro-details-rating-wrap">
            <div class="pro-details-rating">
              <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
            </div>
          </div>
       {% endcomment %}
          {%- endif -%}
          
{% comment %}Start automatically added Judge.me widget{% endcomment %}
  {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', concierge_install: true, product: product %}
{% comment %}End automatically added Judge.me widget{% endcomment %}
<div class="product-details-price">
            <span id="ProductPrice">{{ product.selected_or_first_available_variant.price | money }}</span>
            {%- if product.compare_at_price_max > product.price -%}
            <span class="old" id="ComparePrice">{{ product.selected_or_first_available_variant.compare_at_price | money }}</span>
            {%- endif -%}
          </div>

    <div class="pro-details-size-color">
      {%- include 'product-variant' -%}
    </div>
     <div class="pro-details-quality">
            <div class="cart-plus-minus product-quantity-action quantity-selector">
              <input class="cart-plus-minus-box" type="text" value="1" name="quantity">
            </div>

            {% include 'product-cart-action' %}

            {%- if settings.wishlist_enable -%}
            <div class="pro-details-wishlist">
              {% include 'wishlist-button' %}
            </div>
                <div class="pro-details-compare">
              <a href="#"  class="compare" data-pid="{{ product.handle  }}" title="" data-original-title="Compare"><i class="pe-7s-shuffle"></i></a>
            </div>
          </div>


          {%- unless section.settings.product_description_handle == 'without_description' -%}
          {%- if section.settings.product_description_handle == 'full_description' -%}
          {{ product.description | split: '[short_description]' | first | split: '[product_description]' | first | split: '[new_products]' | first | split: '[product_video]' | first | split: '[affiliate_link]' | first | split: '[countdown]' | first }}
          {%- elsif section.settings.product_description_handle == 'short_description' -%}
          <div class="product-description">
            {%- if product.description contains '[short_description]' -%} 
            {%- assign short_description_first = product.description | split:'[/short_description]' | first -%}
            {%- assign short_description_final = short_description_first | split:'[short_description]' | last -%}
            {{ short_description_final }}
            {%- else -%}
            {%- assign truncatewords_count = section.settings.truncatewords_count_handle -%}
              {% comment %}
            <p>{{ product.description | strip_html | truncatewords: truncatewords_count | split: '[short_description]' | first | split: '[product_description]' | first | split: '[new_products]' | first | split: '[product_video]' | first | split: '[affiliate_link]' | first | split: '[countdown]' | first }}</p>
             {% endcomment %}
              <div class="descPtxt">{{ product.description }}</div>
            {%- endif -%}
             <ul class="accordion">
              <li class="accordion-item is-active">
                <h3 class="accordion-thumb">{{ product.metafields.custom.first_tab_title }}</h3>
                <p class="accordion-panel">{{ product.metafields.custom.first_tab_description }}</p>
              </li>
              <li class="accordion-item">
                <h3 class="accordion-thumb">{{ product.metafields.custom.second_tab_title }}</h3>
                <p class="accordion-panel">{{ product.metafields.custom.second_tab_description }}</p>
              </li>
              <li class="accordion-item">
                <h3 class="accordion-thumb">{{ product.metafields.custom.third_tab_title }}</h3>
                <p class="accordion-panel">{{ product.metafields.custom.third_tab_description }}</p>
              </li>
              <li class="accordion-item">
                <h3 class="accordion-thumb">{{ product.metafields.custom.fourth_tab_title }}</h3>
                <p class="accordion-panel">{{ product.metafields.custom.fourth_tab_description }}</p>
              </li>
            </ul>
          </div>
            
          {%- endif -%}
          {%- endunless -%}

           {%-  unless product.description contains '[affiliate_link]' -%}
<!--           <div class="pro-details-size-color">
            {%- include 'product-variant' -%}
          </div> -->
          {%- endunless -%}

          {%- if product.description contains '[countdown]' -%}
          {%- assign count_down_first = product.description | split:'[/countdown]' | first -%}
          {%- assign count_down_final = count_down_first | split:'[countdown]' | last -%}
          <div class="coundown_single_page" data-countdown="{{ count_down_final }}"></div> 
          {%- endif -%}



          {%- if product.description contains '[affiliate_link]' -%}
          <div class="pro-details-quality">
            {%- include 'affiliate-product-cart-action' -%}
          </div>
          {%- else -%}

          
            {%- endif -%}
            {%- if settings.compare_product_enalbe -%}
            {%- endif -%}
          </div>
          <div class="Payment_button">
                
            {%- if product.available and section.settings.dynamic_checkout_button_enable -%}
             {{ form | payment_button }} 
          
               <!-- Set up a container element for the button -->
    {% comment %} <div id="paypal-button-container"></div>
       {{ form | payment_button }}       
   <script>   
    paypal.Buttons({
        style: {
                layout: 'vertical',
                color:  'gold',
                shape:  'pill',
                label:  'pay',
              },
    createOrder: function(data, actions) {
      // This function sets up the details of the transaction, including the amount and line item details.
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: '{{ product.price | divided_by: 100.0 }}'
          }
        }]
      });
    },
    onApprove: function(data, actions) {
      // This function captures the funds from the transaction.
      return actions.order.capture().then(function(details) {
        // This function shows a transaction success message to your buyer.
        alert('Transaction completed by ' + details.payer.name.given_name);
      });
    }
  }).render('#paypal-button-container');
  //This function displays Smart Payment Buttons on your web page.
</script>  {% endcomment %} 
    

            {%- endif -%}
          </div>

          {%- endif -%}


          {% if section.settings.category_list_enable %}
          <div class="pro-details-meta">
            <span>{{ section.settings.category_title }}</span>
            <ul>
              {% assign category_list_limit = section.settings.category_list_limit_handle  %}
              {% for category in collections limit: category_list_limit %}
              <li>
                <a href="{{ category.url }}">{{ category.title }}</a>{% unless forloop.last %},{% endunless %}
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}

          {% if section.settings.category_tag_enable and product.tags.size > 0 %}
          <div class="pro-details-meta">
            <span>{{ section.settings.tag_title }}</span>
            <ul>
              {% assign category_tag_limit = section.settings.category_tag_limit_handle  %}
              {% for tag in product.tags limit: category_tag_limit %}
              <li>
                <a href="/collections/all/{{ tag | handle }}">{{ tag }}{% unless forloop.last %},{% endunless %}</a>
              </li>
              {% endfor %}

            </ul>
          </div>
          {% endif %}

          {%- if section.settings.social_share_enable -%}
          <div class="pro-details-social">
            <ul>
              {%- include 'social-share' -%}
            </ul>
          </div>
          {%- endif -%}
          {%- if section.settings.payment_option_enable -%}
          <div class="custom-payment-options">
            {%- if section.settings.payment_information != '' -%}
            <div>
              {{ section.settings.payment_information }}
            </div>
            {%- endif -%}
            {%- if section.settings.payment_image -%}
            <img src="{{ section.settings.payment_image | img_url: '1024x1024' }}" alt="{{ section.settings.payment_image.alt }}">
            {%- endif -%}

            {%- include 'payment-icon' -%}

          </div>
          {%- endif -%}

<!-- PayPal Pay Later Messaging -->
<div id="paypal-messaging-container"></div>
<script src="https://www.paypal.com/sdk/js?client-id=AWXq3hdwUELQPrh4rnv-zOu_qAl-j0HZ9CPQUN1sKcaQY0R8a32BqJbhvzzFRDpZWTbuJpE3dIdYN09i&components=messages" data-partner-attribution-id="shopify"></script>
<script>
   paypal.Messages({
      amount: {{ product.price | divided_by: 100 }},
      placement: 'product'
   }).render('#paypal-messaging-container');
</script>
        </div>
        {% endform %}
        
      </div>

    </div>
  </div>
</div>





{% comment %}

{% assign instructions = product.metafields.meta %}
{% assign key = 'video' %}

YouTube URL: {{ instructions[key] }}

{% for field in product.metafields.instructions %}
Loop: <li>{{ field | first }}: {{ field | last }}</li>
{% endfor %}

{% endcomment %}


{%- include 'section-style' -%}

{% schema %}
  {
    "name": "Product",
    "settings": [
          {
            "type": "header",
            "content": "Container Style"
          },
          {
              "type": "radio",
              "id": "container_style",
              "label": "Container Style",
              "options":[
                {
                    "value":"style_1",
                    "label": "Container"
                },
                {
                    "value":"style_2",
                    "label": "Container Fulied"
                }
              ],

             "default": "style_1"
          },
          {
            "type": "header",
            "content": "Product Style"
          },
          {
              "type": "radio",
              "id": "content_handle",
              "label": "Content Position -",
              "options": [
                  {
                      "label": "Left",
                      "value": "content_in_left"
                  },
                  {
                      "label": "Right",
                      "value": "content_in_right"
                  }
              ],
              "default": "content_in_right"
        },
		{
          "type": "select",
          "id": "product_style",
          "label": "Product Style",
		  "options":[
				{
                    "label": "Default",
                    "value": "product_default"
                },
				{
                    "label": "Default 2",
                    "value": "product_default_2"
                },
				{
                    "label": "Default 3",
                    "value": "product_default_3"
                },
                {
                    "label": "Gallery",
                    "value": "product_gallery"
                },
                {
                    "label": "Sticky",
                    "value": "product_sticky"
                },
                {
                    "label": "Slider",
                    "value": "product_image_slider"
                }
			],
			"default": "product_default"
      	},
		{
          "type": "header",
          "content": "Product Zoom"
      	},
		{
          "type": "checkbox",
          "id": "product_zoom_enable",
          "label": "Product Zoom Enable",
          "default": true		
      	},
		{
          "type": "select",
          "id": "zoom_type",
          "label": "Zoom Type",
		  "options":[
				{
                    "label": "Lens",
                    "value": "lens"
                },
                {
                    "label": "Window",
                    "value": "window"
                },
                {
                    "label": "Inner",
                    "value": "inner"
                }
			],
			"default": "inner"
      	},
		{
          "type": "header",
          "content": "Image Popup"
      	},
		{
          "type": "checkbox",
          "id": "product_popup_enable",
          "label": "Product Popup Enable",
          "default": true,
		  "info": "When 'Product Zoom' enabled and product style 'Default' then it applicable"	
      	},
		{
          "type": "header",
          "content": "Product Slider Image"
      	},
        {
          "type": "header",
          "content": "Large/Desktop Device"
        },
        {
          "type": "select",
          "id": "product_cursole_2",
          "label": "Slider Image",
          "options":[
			{
              "value":"1",
              "label": "1 image"
            },
			{
              "value":"2",
              "label": "2 image"
            },
            {
              "value":"3",
              "label": "3 image"
            },
            {
              "value":"4",
              "label": "4 image"
            },
            {
              "value":"5",
              "label": "5 image"
            },
            {
              "value":"6",
              "label": "6 image"
            },
            {
              "value":"7",
              "label": "7 image"
            },
            {
              "value":"8",
              "label": "8 image"
            },
            {
              "value":"9",
              "label": "9 image"
            },
            {
              "value":"10",
              "label": "10 image"
            },
            {
              "value":"11",
              "label": "11 image"
            },
            {
              "value":"12",
              "label": "12 image"
            }

          ],

          "default": "1"
        },
        {
          "type": "header",
          "content": "Tablate Device"
        },
        {
          "type": "select",
          "id": "product_cursole_5",
          "label": "Slider Image",
          "options":[
			{
              "value":"1",
              "label": "1 image"
            },
			{
              "value":"2",
              "label": "2 image"
            },
            {
              "value":"3",
              "label": "3 image"
            },
            {
              "value":"4",
              "label": "4 image"
            },
            {
              "value":"5",
              "label": "5 image"
            },
            {
              "value":"6",
              "label": "6 image"
            },
            {
              "value":"7",
              "label": "7 image"
            },
            {
              "value":"8",
              "label": "8 image"
            },
            {
              "value":"9",
              "label": "9 image"
            },
            {
              "value":"10",
              "label": "10 image"
            },
            {
              "value":"11",
              "label": "11 image"
            },
            {
              "value":"12",
              "label": "12 image"
            }

          ],

          "default": "1"
        },
        {
          "type": "header",
          "content": "Mobile Device"
        },
        {
          "type": "select",
          "id": "product_cursole_6",
          "label": "Slider Image",
          "options":[
			{
              "value":"1",
              "label": "1 image"
            },
			{
              "value":"2",
              "label": "2 image"
            },
            {
              "value":"3",
              "label": "3 image"
            },
            {
              "value":"4",
              "label": "4 image"
            },
            {
              "value":"5",
              "label": "5 image"
            },
            {
              "value":"6",
              "label": "6 image"
            },
            {
              "value":"7",
              "label": "7 image"
            },
            {
              "value":"8",
              "label": "8 image"
            },
            {
              "value":"9",
              "label": "9 image"
            },
            {
              "value":"10",
              "label": "10 image"
            },
            {
              "value":"11",
              "label": "11 image"
            },
            {
              "value":"12",
              "label": "12 image"
            }

          ],

          "default": "1"
        },
		{
          "type": "header",
          "content": "Product Thum Image"
      	},
        {
          "type": "header",
          "content": "Large/Desktop Device"
        },
        {
          "type": "select",
          "id": "product_cursole",
          "label": "Thum Image",
          "options":[
			{
              "value":"1",
              "label": "1 image"
            },
			{
              "value":"2",
              "label": "2 image"
            },
            {
              "value":"3",
              "label": "3 image"
            },
            {
              "value":"4",
              "label": "4 image"
            },
            {
              "value":"5",
              "label": "5 image"
            },
            {
              "value":"6",
              "label": "6 image"
            },
            {
              "value":"7",
              "label": "7 image"
            },
            {
              "value":"8",
              "label": "8 image"
            },
            {
              "value":"9",
              "label": "9 image"
            },
            {
              "value":"10",
              "label": "10 image"
            },
            {
              "value":"11",
              "label": "11 image"
            },
            {
              "value":"12",
              "label": "12 image"
            }

          ],

          "default": "4"
        },
        {
          "type": "header",
          "content": "Tablate Device"
        },
        {
          "type": "select",
          "id": "product_cursole_3",
          "label": "Thum Image",
          "options":[
			{
              "value":"1",
              "label": "1 image"
            },
			{
              "value":"2",
              "label": "2 image"
            },
            {
              "value":"3",
              "label": "3 image"
            },
            {
              "value":"4",
              "label": "4 image"
            },
            {
              "value":"5",
              "label": "5 image"
            },
            {
              "value":"6",
              "label": "6 image"
            },
            {
              "value":"7",
              "label": "7 image"
            },
            {
              "value":"8",
              "label": "8 image"
            },
            {
              "value":"9",
              "label": "9 image"
            },
            {
              "value":"10",
              "label": "10 image"
            },
            {
              "value":"11",
              "label": "11 image"
            },
            {
              "value":"12",
              "label": "12 image"
            }

          ],

          "default": "2"
        },
        {
          "type": "header",
          "content": "Mobile Device"
        },
        {
          "type": "select",
          "id": "product_cursole_4",
          "label": "Thum Image",
          "options":[
			{
              "value":"1",
              "label": "1 image"
            },
			{
              "value":"2",
              "label": "2 image"
            },
            {
              "value":"3",
              "label": "3 image"
            },
            {
              "value":"4",
              "label": "4 image"
            },
            {
              "value":"5",
              "label": "5 image"
            },
            {
              "value":"6",
              "label": "6 image"
            },
            {
              "value":"7",
              "label": "7 image"
            },
            {
              "value":"8",
              "label": "8 image"
            },
            {
              "value":"9",
              "label": "9 image"
            },
            {
              "value":"10",
              "label": "10 image"
            },
            {
              "value":"11",
              "label": "11 image"
            },
            {
              "value":"12",
              "label": "12 image"
            }

          ],

          "default": "2"
        },
		{
          "type": "header",
          "content": "Product SKU"
      	},
		{
          "type": "checkbox",
          "id": "product_sku_enable",
          "label": "Show Product SKU",
          "default": true		
      	},
		{
          "type": "text",
          "id": "product_sku_title",
          "label": "SKU Title",
          "default": "SKU:"		
      	},
		{
          "type": "header",
          "content": "Product Review"
      	},
		{
          "type": "checkbox",
          "id": "product_review_enable",
          "label": "Show Product Review",
          "default": true,
		  "info": "[Install App](https://apps.shopify.com/product-reviews?surface_detail=product+review&surface_inter_position=1&surface_intra_position=7&surface_type=search)"
      	},
		{
          "type": "header",
          "content": "Product Inventory"
      	},
		{
          "type": "checkbox",
          "id": "product_inventory_enable",
          "label": "Show Product Inventory",
          "default": true		
      	},
		{
          "type": "text",
          "id": "availability_title",
          "label": "Inventory Title",
          "default": "Availability:"		
      	},
		{
          "type": "header",
          "content": "Stock Countdown"
      	},
		{
          "type": "paragraph",
          "content": "[Click Here](https://apps.shopify.com/countdown-cart) for Install Stock Countdown app"		
      	},
		{
          "type": "header",
          "content": "Product Description"
      	},
		{
          "type": "radio",
          "id": "product_description_handle",
          "label": "Description Handle",
		  "options":[
				{
                    "label": "Full Description",
                    "value": "full_description"
                },
                {
                    "label": "Short Description",
                    "value": "short_description"
                },
                {
                    "label": "Without Description",
                    "value": "without_description"
                }
			],
			"default": "short_description"
      	},
		{
          "type": "number",
          "id": "truncatewords_count_handle",
          "label": "Description Word Count",
          "default": 35,
		  "info": "If 'Short Description' is selected and the shortcode is not used, then it will be applicable"
      	},
		{
          "type": "header",
          "content": "Product Variant"
      	},
		{
          "type": "radio",
          "id": "product_variant_handle",
          "label": "Variant Option",
		  "options":[
				{
                    "label": "Select Option",
                    "value": "product_variant_select_option"
                },
                {
                    "label": "Swatch Option",
                    "value": "product_variant_swatch_option"
                },
                {
                    "label": "Without Variant",
                    "value": "product_variant_without_option"
                }
			],
			"default": "product_variant_swatch_option"
      	},
		{
          "type": "checkbox",
          "id": "show_variant_image",
          "label": "Variant image enable",
          "default": false,
          "info": "The variant image will replace in color field if each variant each image selected. It's applicable for 'Swatch Option'"
      	},
		{
          "type": "header",
          "content": "Dynamic Checkout Buttons"
      	},
		{
          "type": "checkbox",
          "id": "dynamic_checkout_button_enable",
          "label": "Enable Dynamic Checkout Buttons",
          "default": true
      	},
		{
          "type": "header",
          "content": "Social Share Option"
      	},
		{
          "type": "checkbox",
          "id": "social_share_enable",
          "label": "Show Social Share",
          "default": true
      	},
		{
          "type": "text",
          "id": "social_share_title",
          "label": "Social Share Title",
          "default": "Share:"
      	},
		{
            "type": "header",
            "content": "Category"
        },
		{
            "type": "checkbox",
            "id": "category_list_enable",
            "label": "Category Enable",
            "default": true
        },
        {
          "type": "text",
          "id": "category_title",
          "label": "Category Title",
          "default": "Categories :"
        },
        {
          "type": "select",
          "id": "category_list_limit_handle",
          "label": "How Many Category Show",
          "options": [
			{
              "label": "1",
              "value": "1"
            },
			{
              "label": "2",
              "value": "2"
            },
            {
              "label": "3",
              "value": "3"
            },
            {
              "label": "4",
              "value": "4"
            },
            {
              "label": "5",
              "value": "5"
            },
            {
              "label": "6",
              "value": "6"
            },
            {
              "label": "7",
              "value": "7"
            }
          ],
          "default": "3"
        },
		{
            "type": "header",
            "content": "Tag"
        },
		{
            "type": "checkbox",
            "id": "category_tag_enable",
            "label": "Tag Enable",
            "default": true
        },
        {
          "type": "text",
          "id": "tag_title",
          "label": "Tag Title",
          "default": "Tag :"
        },
        {
          "type": "select",
          "id": "category_tag_limit_handle",
          "label": "How Many Tag Show",
          "options": [
			{
              "label": "1",
              "value": "1"
            },
			{
              "label": "2",
              "value": "2"
            },
            {
              "label": "3",
              "value": "3"
            },
            {
              "label": "4",
              "value": "4"
            },
            {
              "label": "5",
              "value": "5"
            },
            {
              "label": "6",
              "value": "6"
            },
            {
              "label": "7",
              "value": "7"
            }
          ],
          "default": "3"
        },
		{
          "type": "header",
          "content": "Payment Option"
      	},
		{
          "type": "checkbox",
          "id": "payment_option_enable",
          "label": "Show Payment Option",
          "default": true
      	},
		{
          "type": "richtext",
          "id": "payment_information",
		  "label": "Information",
          "default": "<p>Guaranteed safe checkout</p>"
      	},
		{
          "type": "image_picker",
          "id": "payment_image",
          "label": "Payment Image"
      	},
		{
          "type": "radio",
          "id": "payment_icon",
          "label": "Payment Icon",
		  "options":[
				{
                    "label": "Automatic",
                    "value": "automatic"
                },
                {
                    "label": "Custom Icon",
                    "value": "custom_icon"
                }
			],
			"default": "custom_icon"
      	}
	],
	"blocks":[
		{
          "type": "amazon_payments",
          "name": "Amazon Payments",
		  "limit": 1
        },
		{
          "type": "american_express",
          "name": "American Express",
		  "limit": 1
        },
		{
          "type": "apple_pay",
          "name": "Apple Pay",
		  "limit": 1
        },
		{
          "type": "bitcoin",
          "name": "Bitcoin",
		  "limit": 1
        },
		{
          "type": "dankort",
          "name": "Dankort",
		  "limit": 1
        },
		{
          "type": "diners_club",
          "name": "Diners Club",
		  "limit": 1
        },
		{
          "type": "discover",
          "name": "Discover",
		  "limit": 1
        },
		{
          "type": "dogecoin",
          "name": "Dogecoin",
		  "limit": 1
        },
		{
          "type": "dwolla",
          "name": "Dwolla",
		  "limit": 1
        },
		{
          "type": "forbrugsforeningen",
          "name": "Forbrugsforeningen",
		  "limit": 1
        },
		{
          "type": "google_pay",
          "name": "Google Pay",
		  "limit": 1
        },
		{
          "type": "jcb",
          "name": "Jcb",
		  "limit": 1
        },
		{
          "type": "klarna",
          "name": "Klarna",
		  "limit": 1
        },
		{
          "type": "litecoin",
          "name": "Litecoin",
		  "limit": 1
        },
		{
          "type": "maestro",
          "name": "Maestro",
		  "limit": 1
        },
		{
          "type": "master",
          "name": "Master",
		  "limit": 1
        },
		{
          "type": "paypal",
          "name": "Paypal",
		  "limit": 1
        },
		{
          "type": "shopify_pay",
          "name": "Shopify Pay",
		  "limit": 1
        },
		{
          "type": "sofort",
          "name": "Sofort",
		  "limit": 1
        },
		{
          "type": "visa",
          "name": "Visa",
		  "limit": 1
        },
		{
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	 ]
  }
{% endschema %}


{%- if section.settings.product_zoom_enable -%}
<script src="{{ 'jquery.elevateZoom-3.0.8.min.js' | asset_url }}"></script>
{%- endif -%}

{%- if section.settings.product_popup_enable -%}
{{ 'jquery.fancybox.css' | asset_url | stylesheet_tag }}
<script src="{{ 'jquery.fancybox.min.js' | asset_url }}"></script>

<script>
  $(document).ready(function() {
    $('.fancybox').fancybox();
  });
</script>
{%- endif -%}

{%- if section.settings.product_style == 'product_sticky' -%}
<script src="{{ 'ResizeSensor-StickySidebar.js' | asset_url }}"></script>
<script>
  var sidebar = new StickySidebar('#product-content', {
    containerSelector: '#product-details-with-gallery',
    innerWrapperSelector: '.product-content-inner',
    topSpacing: 20,
    bottomSpacing: 20,
    minWidth: 992,
  });
</script>
{% endif %}


<script>
  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
    
    if (variant) {
      
      // Current variant select+
      var form = jQuery('#' + selector.domIdPrefix).closest('form');
      for (var i=0,length=variant.options.length; i<length; i++) {
        var val = variant.options[i].replace(/'/g,"&#039;");
        var radioButton = form.find(".swatch[data-option-index='" + i + "'] :radio[value='" + val +"']");
        if (radioButton.size()) {
          radioButton.get(0).checked = true;
        }
      }

      // Current sku pass
      $('.variant-sku').text(variant.sku);
    }else {
      $('.variant-sku').empty();
    } 
    
    
    {%- comment -%}
    // in stock / out stock product start
    if (variant) {
      if (variant.inventory_management == "shopify" && variant.inventory_policy != "continue") {
        if (variant.inventory_quantity > 0) {
          jQuery('#variant-inventory').text(variant.inventory_quantity + ' in stock');
        } else {
          jQuery('#variant-inventory').text("Out of stock");
        }
      } else {
        jQuery('#variant-inventory').text("In stock");
      }
    } else {
      jQuery('#variant-inventory').text("");
    }
    {%- endcomment -%}  
    
    
    {%- if section.settings.product_zoom_enable -%}
    // product image zoom with variant
    if (variant && variant.featured_image) { 
     jQuery('#ProductThumbs a[data-image-id="' + variant.featured_image.id + '"]').trigger('click');      
    }

   
    
    {%- endif -%}

  };
  
  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  });
  
  {%- if section.settings.product_zoom_enable -%}
  function productZoom(){
    $(".product-zoom").elevateZoom({
      gallery: 'ProductThumbs', 
      galleryActiveClass: "active",
      zoomType: "{{ section.settings.zoom_type }}",
      cursor: "crosshair"
    });
    {%- if section.settings.product_popup_enable -%}
    $(".product-zoom").on("click", function(e) {
      var ez = $('.product-zoom').data('elevateZoom');
      $.fancybox(ez.getGalleryList());
      return false;
    });
    {% endif %}
  };
  function productZoomDisable(){
    if( $(window).width() < 320 ) {
      $('.zoomContainer').remove();
      $(".product-zoom").removeData('elevateZoom');
      $(".product-zoom").removeData('zoomImage');
    } else {
      productZoom();
    }
  };

  productZoomDisable();

  $(window).resize(function() {
    productZoomDisable();
  });
  {%- endif -%}
  
  
  
  
  
      
    /*---------------------
        Product dec slider
    --------------------- */
    $(' #section-{{ section.id }} .product-dec-slider-2').slick({
        infinite: true,
      {% if settings.rtl_enable %} rtl:true, {% endif %}
        slidesToShow: {{ section.settings.product_cursole }},
        vertical: true,
        slidesToScroll: 1,
        centerPadding: '60px',
        prevArrow: '<span class="product-dec-icon product-dec-prev"><i class="fa fa-angle-up"></i></span>',
        nextArrow: '<span class="product-dec-icon product-dec-next"><i class="fa fa-angle-down"></i></span>',
        responsive: [{
                breakpoint: 1024,
                settings: {
                    slidesToShow: {{ section.settings.product_cursole }},
                    slidesToScroll: 1
                }
            },
            {
                breakpoint: 992,
                settings: {
                    slidesToShow: {{ section.settings.product_cursole_3 }},
                    slidesToScroll: 1
                }
            },
            {
                breakpoint: 767,
                settings: {
                    slidesToShow: {{ section.settings.product_cursole_4 }},
                    slidesToScroll: 1
                }
            }
        ]
    });

  
      
    /*---------------------
        Sidebar active
    --------------------- */
    $('#section-{{ section.id }} .sidebar-active').stickySidebar({
        topSpacing: 80,
        bottomSpacing: 30,
        minWidth: 767,
    });
     
    
    /* Product details slider */
    $('#section-{{ section.id }} .product-details-slider-active').owlCarousel({
        loop: true,
      {% if settings.rtl_enable %} rtl:true, {% endif %}
        nav: true,
        autoplay: false,
        autoplayTimeout: 5000,
        animateOut: 'fadeOut',
        animateIn: 'fadeIn',
        navText: ['<i class="fa fa-chevron-left"></i>', '<i class="fa fa-chevron-right"></i>'],
        item: {{ section.settings.product_cursole_2 }},
        margin: 30,
        responsive: {
            0: {
                items: {{ section.settings.product_cursole_6 }}
            },
            768: {
                items: {{ section.settings.product_cursole_5 }}
            },
            1000: {
                items: {{ section.settings.product_cursole_2 }}
            }
        }
    })
  
</script>


<script>
jQuery(document).ready(function($) {
$("#ProductThumbs").addClass("owl-carousel");	
	
});


</script>


 <script>
  $(document).ready(function(){
$('.image-popup-vertical-fit').magnificPopup({
  type: 'image',
  mainClass: 'mfp-with-zoom', 
  gallery:{
      enabled:true
    },

  zoom: {
    enabled: true, 

    duration: 300, // duration of the effect, in milliseconds
    easing: 'ease-in-out', // CSS transition easing function

    opener: function(openerElement) {

      return openerElement.is('img') ? openerElement : openerElement.find('img');
  }
}

});

});
</script> 





