<div class="slider-area" id="section-{{ section.id }}">
  <div class="{% if section.settings.container_style == 'style_1' %}container {% else %} container-fluid{% endif %}">
    <div class="slider-active-3 owl-carousel slider-hm8 owl-dot-style">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'slide' %}
            <div
              class="slider-height-6 d-flex align-items-center justify-content-center bg-img"
              style="background-image:url({% if block.settings.slider_img %}{{ block.settings.slider_img | img_url: 'master' }}{% else %}http:\/\/via.placeholder.com\/1920x800{% endif %});"
            >
              <div class="slider-content-5 slider-animated-1 text-{% if block.settings.text_style == 'text_style_left' %}left{% elsif block.settings.text_style == 'text_style_center' %}center{% elsif block.settings.text_style == 'text_style_right' %}right{% endif %}">
                {% if block.settings.slider_subtitle != '' %}
                  <h3 class="animated">{{ block.settings.slider_subtitle }}</h3>
                {% endif %}
                {% if block.settings.slider_title != '' %}
                  <h1 class="animated">{{ block.settings.slider_title }}</h1>
                {% endif %}
                {% if block.settings.slider_description != '' %}
                  <p class="animated">{{ block.settings.slider_description }}</p>
                {% endif %}
              </div>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{%- include 'section-style' -%}

<script>



  /* Slider active */
  $('#section-{{ section.id }} .slider-active-3').owlCarousel({
      loop: true,
    {% if settings.rtl_enable %} rtl:true, {% endif %}
      nav: false,
      autoplay: false,
      autoplayTimeout: 5000,
      animateOut: 'fadeOut',
      animateIn: 'fadeIn',
      item: 1,
      responsive: {
          0: {
              items: 1
          },
          768: {
              items: 1
          },
          1000: {
              items: 1
          }
      }
  })
</script>

{% schema %}
{
  "name": "Slider 7",
  "settings": [
    {
      "type": "header",
      "content": "Container Style"
    },
    {
      "type": "radio",
      "id": "container_style",
      "label": "Container Style",
      "options": [
        {
          "value": "style_1",
          "label": "Container"
        },
        {
          "value": "style_2",
          "label": "Container Fulied"
        }
      ],

      "default": "style_1"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "slider_img",
          "label": "Image",
          "info": "Recommended Size: 1920 x 800px"
        },
        {
          "type": "header",
          "content": "Text Style"
        },
        {
          "type": "radio",
          "id": "text_style",
          "label": "Text Style",
          "options": [
            {
              "value": "text_style_left",
              "label": "Left"
            },
            {
              "value": "text_style_center",
              "label": "center"
            },
            {
              "value": "text_style_right",
              "label": "right"
            }
          ],

          "default": "text_style_center"
        },
        {
          "type": "text",
          "id": "slider_subtitle",
          "label": "Slider Subtitle",
          "default": "New Arrival"
        },
        {
          "type": "text",
          "id": "slider_title",
          "label": "Slider Title",
          "default": "Final Sale"
        },
        {
          "type": "textarea",
          "id": "slider_description",
          "label": "Slider Description",
          "default": "30% off Summer Vacation"
        }
      ]
    },
    {
      "type": "section_padding",
      "name": "Section Padding",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Large/Desktop Device"
        },
        {
          "type": "range",
          "id": "section_padding_top",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_padding_bottom",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Bottom",
          "unit": "px",
          "default": 100
        },
        {
          "type": "header",
          "content": "Tablet Device"
        },
        {
          "type": "range",
          "id": "section_padding_top_md",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_padding_bottom_md",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Bottom",
          "unit": "px",
          "default": 80
        },
        {
          "type": "header",
          "content": "Mobile Device"
        },
        {
          "type": "range",
          "id": "section_padding_top_xs",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_padding_bottom_xs",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Bottom",
          "unit": "px",
          "default": 60
        }
      ]
    },
    {
      "type": "section_margin",
      "name": "Section Margin",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Large/Desktop Device"
        },
        {
          "type": "range",
          "id": "section_margin_top",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_margin_bottom",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Bottom",
          "unit": "px",
          "default": 0
        },
        {
          "type": "header",
          "content": "Tablet Device"
        },
        {
          "type": "range",
          "id": "section_margin_top_md",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_margin_bottom_md",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Bottom",
          "unit": "px",
          "default": 0
        },
        {
          "type": "header",
          "content": "Mobile Device"
        },
        {
          "type": "range",
          "id": "section_margin_top_xs",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_margin_bottom_xs",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Bottom",
          "unit": "px",
          "default": 0
        }
      ]
    },
    {
      "type": "section_background",
      "name": "Section Background",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "section_bg_image",
          "label": "BG Image"
        },
        {
          "type": "color",
          "id": "section_bg_color",
          "label": "BG Color",
          "default": "#ffffff"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slider 7",
      "category": "1. slideshow",
      "blocks": [
        {
          "type": "section_padding"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
