<style>
      .blackfriday {
      background-position: center center !important;
  }
      .blackfriday.single-slider-2.slider-height-2.d-flex.align-items-center .slider-btn.btn-hover {
      text-align: center !important;
      width:100%;
        position:relative;
        bottom:0;
  }
       .blackfriday.single-slider-2.slider-height-2.d-flex.align-items-center .slider-content-3 p.animated {
      margin: 10px 0 40px auto !important;
         text-align:center;
  }
      .blackfriday.single-slider-2.slider-height-2.d-flex.align-items-center .slider-content-3 h3{
       color:#000 !important;
  }
          .blackfriday.single-slider-2.slider-height-2.d-flex.align-items-center .slider-content-3.slider-animated-1.text-center p.animated {

             color:#000;
  }
        /* .blackfriday.single-slider-2.slider-height-2.d-flex.align-items-center .slider-content-3{
             bottom: 0 !important;
      max-width: 60%;
      width: 100%;
      text-align: center !important;
      display: block !important;
      position: relative;
  } */
     .blackfriday.single-slider-2.slider-height-2.d-flex.align-items-center .slider-content-3 {
      bottom: unset !important;
      max-width: 100%;
      width: 100%;
      text-align: center !important;
      display: block !important;
      position: absolute;
      top: 0 !important;
      transform: translate(0%, -100%);
     }

  .slider-area.mobile-version {
      display: none;
  }
        @media screen and (max-width: 767px) {
       .slider-area.desktop-version {
      display: none;
  }
          .slider-area.mobile-version {
      display: block;
  }
           .blackfriday.single-slider-2.slider-height-2.d-flex.align-items-center .slider-content-3.slider-animated-1.text-center p.animated {
      margin: 0 !important;
      text-align: center;
             color:#000;
  }

  .blackfriday.single-slider-2.slider-height-2.d-flex.align-items-center .slider-content-3 h3{
       color:#000 !important;
       line-height:50px;
  }

          .blackfriday.single-slider-2.slider-height-2.d-flex.align-items-center .slider-content-3 {
      bottom: inherit!important;
      max-width: 100%;
      width: 100%;
      text-align: center !important;
      display: block !important;
      position: absolute;
      top: 0%;
      transform: translate(0, -93%);
      left: 0 !important;
      right: 0;
      padding: 15px 0;
  }
  .blackfriday {
      background-position: center bottom!important;
  }

    }

    @media screen and (max-width: 412px){


  .slider-area .slider-content-3.text-right {
      bottom: 19px;
  }
      div.slider-area .slider-content-3.text-left p.animated span.spanLft {
      top: -317px;
  }
      .slider-area .slider-content-3.text-center {
      top: -70px;
  }
      div.slider-area .slider-content-3.text-left span.spanLft2 {
      top: -198px;
      }
      div.slider-area .slider-content-3.text-left p .spanLft2 a {

      top: 0px;
      }
    }



    @media screen and (min-width: 1025px){
  .blackfriday.single-slider-2.slider-height-2.d-flex.align-items-center .slider-btn.btn-hover {

      bottom: 42px;
  }
    }
    @media screen and (min-width: 768px){
      .blackfriday.single-slider-2.slider-height-2.d-flex.align-items-center .slider-content-3 h3 {
      line-height: 89px;
      margin-bottom: -21px;
  }
    }
</style>
<div class="slider-area desktop-version" id="section-{{ section.id }}">
  <div class="slider-active owl-carousel nav-style-1">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'slide' %}
          <div
            class="{{ block.settings.class-block }} single-slider-2 slider-height-2 d-flex align-items-center bg-img desktop-version {{ block.settings.slider_img }}"
            style="background-image:url({% if block.settings.slider_img %}{{ block.settings.slider_img | img_url: 'master' }}{% else %}http:\/\/via.placeholder.com\/1920x800{% endif %});"
          >
            <div class="container">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12 ml-auto">
                  <div class="slider-content-3 slider-animated-1 text-{% if block.settings.text_style == 'text_style_left' %}left{% elsif block.settings.text_style == 'text_style_center' %}center{% elsif block.settings.text_style == 'text_style_right' %}right{% endif %}">
                    {% if block.settings.slider_subtitle != '' %}
                      <h3 class="animated">{{ block.settings.slider_subtitle }}</h3>
                    {% endif %}
                    {% if block.settings.slider_title != '' %}
                      <h1 class="lani test animated">{{ block.settings.slider_title }}</h1>
                    {% endif %}
                    {% if block.settings.slider_description != '' %}
                      <p class="animated">{{ block.settings.slider_description }}</p>
                    {% endif %}
                    {% if block.settings.button_title != '' %}
                      <div class="slider-btn btn-hover">
                        <a class="animated" href="{{ block.settings.button_url }}">{{ block.settings.button_title }}</a>
                        <a class="custom-button" href="{{ block.settings.button_url }}">Learn More</a>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
      {% endcase %}
    {% endfor %}
  </div>
</div>
<div class="slider-area mobile-version" id="section-{{ section.id }}">
  <div class="slider-active owl-carousel nav-style-1">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'slide' %}
          <div
            class="{{ block.settings.class-block }} single-slider-2 slider-height-2 d-flex align-items-center bg-img "
            style="background-image:url({% if block.settings.slider_img %}{{ block.settings.slider_img_mobile | img_url: 'master' }}{% else %}http:\/\/via.placeholder.com\/1920x800{% endif %});"
          >
            <div class="container">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12 ml-auto">
                  <div class="slider-content-3 slider-animated-1 text-{% if block.settings.text_style == 'text_style_left' %}left{% elsif block.settings.text_style == 'text_style_center' %}center{% elsif block.settings.text_style == 'text_style_right' %}right{% endif %}">
                    {% if block.settings.slider_subtitle != '' %}
                      <h3 class="animated">{{ block.settings.slider_subtitle }}</h3>
                    {% endif %}
                    {% if block.settings.slider_title != '' %}
                      <h4 class="animated">{{ block.settings.slider_title }}</h4>
                    {% endif %}
                    {% if block.settings.slider_description != '' %}
                      <p class="animated">{{ block.settings.slider_description }}</p>
                    {% endif %}
                    {% if block.settings.button_title != '' %}
                      <div class="slider-btn btn-hover">
                        <a class="animated" href="{{ block.settings.button_url }}">{{ block.settings.button_title }}</a>
                        <a class="custom-button" href="{{ block.settings.button_url }}">Learn More</a>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
      {% endcase %}
    {% endfor %}
  </div>
</div>

{%- include 'section-style' -%}

<script>
  /* Slider active */
  $('#section-{{ section.id }} .slider-active').owlCarousel({
      loop: true,
    {% if settings.rtl_enable %} rtl:true, {% endif %}
      nav: true,
      autoplay: true,
      navText: ['<i class="fa fa-chevron-left"></i>', '<i class="fa fa-chevron-right"></i>'],
      autoplayTimeout: 6000,
      animateOut: 'fadeOut',
      animateIn: 'fadeIn',
      item: 1,
      responsive: {
          0: {
              items: 1
          },
          768: {
              items: 1
          },
          1000: {
              items: 1
          }
      }
  })
</script>

{% schema %}
{
  "name": "Slider 3",
  "settings": [],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "slider_img",
          "label": "Image",
          "info": "Recommended Size: 1920 x 800px"
        },
        {
          "type": "image_picker",
          "id": "slider_img_mobile",
          "label": "Mobile Image"
        },
        {
          "type": "header",
          "content": "Text Style"
        },
        {
          "type": "radio",
          "id": "text_style",
          "label": "Text Style",
          "options": [
            {
              "value": "text_style_left",
              "label": "Left"
            },
            {
              "value": "text_style_center",
              "label": "center"
            },
            {
              "value": "text_style_right",
              "label": "right"
            }
          ],

          "default": "text_style_center"
        },
        {
          "type": "text",
          "id": "slider_subtitle",
          "label": "Slider Subtitle",
          "default": "Stylish"
        },
        {
          "type": "text",
          "id": "slider_title",
          "label": "Slider Title",
          "default": "Male Clothes"
        },
        {
          "type": "textarea",
          "id": "slider_description",
          "label": "Slider Description",
          "default": "30% off Summer Vacation"
        },
        {
          "type": "text",
          "id": "button_title",
          "label": "Button Title",
          "default": "SHOP NOW"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "URL"
        },
        {
          "type": "text",
          "id": "class-block",
          "label": "class name"
        }
      ]
    },
    {
      "type": "section_padding",
      "name": "Section Padding",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Large/Desktop Device"
        },
        {
          "type": "range",
          "id": "section_padding_top",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_padding_bottom",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Bottom",
          "unit": "px",
          "default": 100
        },
        {
          "type": "header",
          "content": "Tablet Device"
        },
        {
          "type": "range",
          "id": "section_padding_top_md",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_padding_bottom_md",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Bottom",
          "unit": "px",
          "default": 80
        },
        {
          "type": "header",
          "content": "Mobile Device"
        },
        {
          "type": "range",
          "id": "section_padding_top_xs",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_padding_bottom_xs",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Bottom",
          "unit": "px",
          "default": 60
        }
      ]
    },
    {
      "type": "section_margin",
      "name": "Section Margin",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Large/Desktop Device"
        },
        {
          "type": "range",
          "id": "section_margin_top",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_margin_bottom",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Bottom",
          "unit": "px",
          "default": 0
        },
        {
          "type": "header",
          "content": "Tablet Device"
        },
        {
          "type": "range",
          "id": "section_margin_top_md",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_margin_bottom_md",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Bottom",
          "unit": "px",
          "default": 0
        },
        {
          "type": "header",
          "content": "Mobile Device"
        },
        {
          "type": "range",
          "id": "section_margin_top_xs",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_margin_bottom_xs",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Bottom",
          "unit": "px",
          "default": 0
        }
      ]
    },
    {
      "type": "section_background",
      "name": "Section Background",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "section_bg_image",
          "label": "BG Image"
        },
        {
          "type": "color",
          "id": "section_bg_color",
          "label": "BG Color",
          "default": "#ffffff"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slider 3",
      "category": "1. slideshow",
      "blocks": [
        {
          "type": "section_padding"
        }
      ]
    }
  ]
}
{% endschema %}

{% javascript %}
{% endjavascript %}
