<div class="product-area" id="section-{{ section.id }}">
  <div class="{% if section.settings.container_style == 'style_1' %}container {% else %} container-fluid{% endif %}">
    <div class="tab-filter-wrap mb-60">
      <div class="product-tab-list-2 nav">
        {%- assign i = 1 -%}
        {% for block in section.blocks %}
          {%- case block.type -%}
            {%- when 'tab_with_product' -%}
              {%- assign tab_product = collections[block.settings.tab_product_handle] -%}

              {%- if tab_product == empty -%}
                <a class="{% if forloop.first == true %}active{% endif %}" href="#tab-{{ i }}" data-toggle="tab">
                  <h4>Tab-{{ i }}</h4>
                </a>
                {%- assign i = i | plus: 1 -%}
              {%- else -%}
                <a
                  class="{% if forloop.first == true %}active{% endif %}"
                  href="#tab-{{ block.id }}-{{ tab_product.title | handle }}"
                  data-toggle="tab"
                >
                  <h4>{{ tab_product.title }}</h4>
                </a>
              {%- endif -%}
          {% endcase %}
        {% endfor %}
      </div>
    </div>
    <div class="tab-content jump">
      {%- assign i = 1 -%}
      {% for block in section.blocks %}
        {%- case block.type -%}
          {%- when 'tab_with_product' -%}
            {%- assign tab_product = collections[block.settings.tab_product_handle] -%}
            {%- assign product_limit = section.settings.product_limit_handle -%}
            {%- if tab_product == empty -%}
              <div class="tab-pane {% if forloop.first == true %}active{% endif %}" id="tab-{{ i }}">
                <div class="row">
                  {% for i in (1..product_limit) %}
                    {% capture a %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                    <div class="col-lg-{{ section.settings.product_column }} col-md-{{ section.settings.product_column_md }}  col-{{ section.settings.product_column_xs }}">
                      <div class="product-wrap-2 mb-25 scroll-zoom">
                        <div class="product-img" style="background: #f2f2f2;">
                          {% assign product_item = 'product-' | append: a %}
                          {{ product_item | placeholder_svg_tag: 'my-custom-class' }}
                        </div>
                        <div class="product-content-2">
                          <div class="title-price-wrap-2">
                            <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                            <div class="price-2">
                              <span>$ 60.00</span>
                              <span class="old">$ 60.00</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>

              {%- assign i = i | plus: 1 -%}
            {%- else -%}
              <div
                class="tab-pane {% if forloop.first == true %}active{% endif %}"
                id="tab-{{ block.id }}-{{ tab_product.title | handle }}"
              >
                <div class="row">
                  {% if section.settings.product_style == 'style_1' %}
                    {% assign product_column = section.settings.product_column_handle %}
                    {% for product in tab_product.products limit: product_limit %}
                      <div class="col-lg-{{ section.settings.product_column }} col-md-{{ section.settings.product_column_md }} col-{{ section.settings.product_column_xs }}">
                        {% include 'product-grid-item-2' %}
                      </div>
                    {% endfor %}

                  {% else %}
                    {% assign product_column = section.settings.product_column_handle %}
                    {% for product in tab_product.products limit: product_limit %}
                      <div class="col-lg-{{ section.settings.product_column }} col-md-{{ section.settings.product_column_md }} col-{{ section.settings.product_column_xs }}">
                        {% include 'product-grid-item-4' %}
                      </div>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
            {%- endif -%}
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{%- include 'section-style' -%}

{% schema %}
{
  "name": "Tab With Product 2",
  "settings": [
    {
      "type": "header",
      "content": "Container Style"
    },
    {
      "type": "radio",
      "id": "container_style",
      "label": "Container Style",
      "options": [
        {
          "value": "style_1",
          "label": "Container"
        },
        {
          "value": "style_2",
          "label": "Container Fulied"
        }
      ],

      "default": "style_1"
    },
    {
      "type": "header",
      "content": "Product"
    },
    {
      "type": "radio",
      "id": "product_style",
      "label": "Product Style",
      "options": [
        {
          "value": "style_1",
          "label": "Style 1"
        },
        {
          "value": "style_2",
          "label": "Style 2"
        }
      ],

      "default": "style_1"
    },
    {
      "type": "range",
      "id": "product_limit_handle",
      "min": 2,
      "max": 20,
      "step": 1,
      "label": "Limit",
      "default": 8
    },
    {
      "type": "header",
      "content": "Product Column"
    },
    {
      "type": "select",
      "id": "product_column",
      "label": "Desktop",
      "options": [
        {
          "label": "2",
          "value": "6"
        },
        {
          "label": "3",
          "value": "4"
        },
        {
          "label": "4",
          "value": "3"
        }
      ],
      "default": "3"
    },
    {
      "type": "select",
      "id": "product_column_md",
      "label": "Tablet",
      "options": [
        {
          "label": "2",
          "value": "6"
        },
        {
          "label": "3",
          "value": "4"
        },
        {
          "label": "4",
          "value": "3"
        }
      ],
      "default": "4"
    },
    {
      "type": "select",
      "id": "product_column_xs",
      "label": "Mobile",
      "options": [
        {
          "label": "1",
          "value": "12"
        },
        {
          "label": "2",
          "value": "6"
        }
      ],
      "default": "12"
    }
  ],
  "blocks": [
    {
      "type": "tab_with_product",
      "name": "Tab with product",
      "settings": [
        {
          "type": "collection",
          "id": "tab_product_handle",
          "label": "Tab With Product"
        }
      ]
    },
    {
      "type": "section_margin",
      "name": "Section Margin",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Large/Desktop Device"
        },
        {
          "type": "range",
          "id": "section_margin_top",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_margin_bottom",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Bottom",
          "unit": "px",
          "default": 0
        },
        {
          "type": "header",
          "content": "Tablet Device"
        },
        {
          "type": "range",
          "id": "section_margin_top_md",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_margin_bottom_md",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Bottom",
          "unit": "px",
          "default": 0
        },
        {
          "type": "header",
          "content": "Mobile Device"
        },
        {
          "type": "range",
          "id": "section_margin_top_xs",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_margin_bottom_xs",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Bottom",
          "unit": "px",
          "default": 0
        }
      ]
    },
    {
      "type": "section_padding",
      "name": "Section Padding",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Large/Desktop Device"
        },
        {
          "type": "range",
          "id": "section_padding_top",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_padding_bottom",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Bottom",
          "unit": "px",
          "default": 100
        },
        {
          "type": "header",
          "content": "Tablet Device"
        },
        {
          "type": "range",
          "id": "section_padding_top_md",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_padding_bottom_md",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Bottom",
          "unit": "px",
          "default": 80
        },
        {
          "type": "header",
          "content": "Mobile Device"
        },
        {
          "type": "range",
          "id": "section_padding_top_xs",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_padding_bottom_xs",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Bottom",
          "unit": "px",
          "default": 60
        }
      ]
    },
    {
      "type": "section_background",
      "name": "Section Background",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "section_bg_image",
          "label": "BG Image"
        },
        {
          "type": "color",
          "id": "section_bg_color",
          "label": "BG Color",
          "default": "#ffffff"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Tab With Product 2",
      "category": "3. collections",
      "blocks": [
        {
          "type": "tab_with_product"
        },
        {
          "type": "tab_with_product"
        },
        {
          "type": "tab_with_product"
        },
        {
          "type": "section_padding"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
