{% if section.settings.team_area_enable %}
  <div class="team-area" id="section-{{ section.id }}">
    <div class="{% if section.settings.container_style == 'style_1' %}container {% else %} container-fluid{% endif %}">
      <div class="section-title-2 text-{% if section.settings.section_text_style == 'section_style_left' %}left{% elsif section.settings.section_text_style == 'section_style_center' %}center{% elsif section.settings.section_text_style == 'section_style_right' %}right{% endif %} mb-60">
        {% if section.settings.section_title != '' %}
          <h2>{{ section.settings.section_title }}</h2>
        {% endif %}
        {% if section.settings.section_description != '' %}
          <p>{{ section.settings.section_description }}</p>
        {% endif %}
      </div>
      <div class="row">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'team' %}
              <div class="col-lg-{{ block.settings.team_coloum }} col-md-6 col-12">
                <div class="team-wrapper mb-30">
                  <div class="team-img">
                    <a href="{{ block.settings.team_image_url }}">
                      <img
                        src="{% if block.settings.team_image %}{{ block.settings.team_image | img_url: 'large' }}{% else %}http:\/\/via.placeholder.com\/390x450{% endif %}"
                        alt="{{ team_image.alt }}"
                      >
                    </a>

                    <div class="team-action">
                      {% if block.settings.social_icon_1_name != '' %}
                        <a class="facebook" href="{{ block.settings.socila_icon_1_link }}">
                          <i class="fa fa-{{ block.settings.social_icon_1_name }}"></i>
                        </a>
                      {% endif %}
                      {% if block.settings.social_icon_2_name != '' %}
                        <a class="twitter" title="Wishlist" href="{{ block.settings.socila_icon_2_link }}">
                          <i class="fa fa-{{ block.settings.social_icon_2_name }}"></i>
                        </a>
                      {% endif %}
                      {% if block.settings.social_icon_3_name != '' %}
                        <a class="instagram" href="{{ block.settings.socila_icon_3_link }}">
                          <i class="fa fa-{{ block.settings.social_icon_3_name }}"></i>
                        </a>
                      {% endif %}
                    </div>
                  </div>
                  <div class="team-content text-center">
                    {% if section.settings.member_title != '' %}
                      <h4>{{ block.settings.member_title }}</h4>
                    {% endif %}
                    {% if section.settings.post_title != '' %}
                      <span>{{ block.settings.post_title }}</span>
                    {% endif %}
                  </div>
                </div>
              </div>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}

{%- include 'section-style' -%}

{% schema %}
{
  "name": "Team Area",
  "settings": [
    {
      "type": "header",
      "content": "Container Style"
    },
    {
      "type": "radio",
      "id": "container_style",
      "label": "Container Style",
      "options": [
        {
          "value": "style_1",
          "label": "Container"
        },
        {
          "value": "style_2",
          "label": "Container Fulied"
        }
      ],

      "default": "style_1"
    },
    {
      "type": "checkbox",
      "id": "team_area_enable",
      "label": "Team Area Enable",
      "default": true
    },
    {
      "type": "header",
      "content": "Section Heading"
    },
    {
      "type": "header",
      "content": "Text Style"
    },
    {
      "type": "radio",
      "id": "section_text_style",
      "label": "Text Style",
      "options": [
        {
          "value": "section_style_left",
          "label": "Left"
        },
        {
          "value": "section_style_center",
          "label": "center"
        },
        {
          "value": "section_style_right",
          "label": "right"
        }
      ],

      "default": "section_style_center"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Team Members"
    },
    {
      "type": "textarea",
      "id": "section_description",
      "label": "Section Description",
      "default": "Lorem ipsum dolor sit amet conse ctetu."
    }
  ],
  "blocks": [
    {
      "type": "team",
      "name": "team",
      "settings": [
        {
          "type": "text",
          "id": "team_coloum",
          "label": "Team Coloum",
          "default": "3",
          "info": "Follow Bootstrap Column"
        },
        {
          "type": "image_picker",
          "id": "team_image",
          "label": "Image",
          "info": "Recommended Size: 390 x 450px"
        },
        {
          "type": "url",
          "id": "team_image_url",
          "label": "URL"
        },
        {
          "type": "text",
          "id": "member_title",
          "label": "Member Name",
          "default": "Mr.Mike Banding"
        },
        {
          "type": "text",
          "id": "post_title",
          "label": "Post Name",
          "default": "Manager"
        },
        {
          "type": "header",
          "content": "Team Social"
        },
        {
          "type": "text",
          "id": "social_icon_1_name",
          "label": "Social Icon Name",
          "default": "facebook",
          "info": "FontAwsome Icon [See Icon](https:\/\/fontawsome.com\/icons)"
        },
        {
          "type": "url",
          "id": "socila_icon_1_link",
          "label": "Link"
        },
        {
          "type": "header",
          "content": "Icon With Link"
        },
        {
          "type": "text",
          "id": "social_icon_2_name",
          "label": "Social Icon Name",
          "default": "twitter",
          "info": "FontAwsome Icon [See Icon](https:\/\/fontawsome.com\/icons)"
        },
        {
          "type": "url",
          "id": "socila_icon_2_link",
          "label": "Link"
        },
        {
          "type": "header",
          "content": "Icon With Link"
        },
        {
          "type": "text",
          "id": "social_icon_3_name",
          "label": "Social Icon Name",
          "default": "instagram",
          "info": "FontAwsome Icon [See Icon](https:\/\/fontawsome.com\/icons)"
        },
        {
          "type": "url",
          "id": "socila_icon_3_link",
          "label": "Link"
        }
      ]
    },
    {
      "type": "section_padding",
      "name": "Section Padding",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Large/Desktop Device"
        },
        {
          "type": "range",
          "id": "section_padding_top",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_padding_bottom",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Bottom",
          "unit": "px",
          "default": 100
        },
        {
          "type": "header",
          "content": "Tablet Device"
        },
        {
          "type": "range",
          "id": "section_padding_top_md",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_padding_bottom_md",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Bottom",
          "unit": "px",
          "default": 80
        },
        {
          "type": "header",
          "content": "Mobile Device"
        },
        {
          "type": "range",
          "id": "section_padding_top_xs",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_padding_bottom_xs",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Bottom",
          "unit": "px",
          "default": 60
        }
      ]
    },
    {
      "type": "section_margin",
      "name": "Section Margin",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Large/Desktop Device"
        },
        {
          "type": "range",
          "id": "section_margin_top",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_margin_bottom",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Bottom",
          "unit": "px",
          "default": 0
        },
        {
          "type": "header",
          "content": "Tablet Device"
        },
        {
          "type": "range",
          "id": "section_margin_top_md",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_margin_bottom_md",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Bottom",
          "unit": "px",
          "default": 0
        },
        {
          "type": "header",
          "content": "Mobile Device"
        },
        {
          "type": "range",
          "id": "section_margin_top_xs",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_margin_bottom_xs",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Bottom",
          "unit": "px",
          "default": 0
        }
      ]
    },
    {
      "type": "section_background",
      "name": "Section Background",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "section_bg_image",
          "label": "BG Image"
        },
        {
          "type": "color",
          "id": "section_bg_color",
          "label": "BG Color",
          "default": "#ffffff"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
